

.main{
    font-size: small;
    background-color: white;
}

ion-title{
    color: white;
}

ion-icon{
    color: white;
}

ion-label{
    font-weight: bold;
}

.services-container{
    max-height: 100%;
    overflow: scroll;
}


.ion-item{
    font-size: 15px;
}