.main{
    background-color: #f8bbd0;
    margin-top: 15%;
}

.content-title{
    padding: 0;
    color: black;
}

.text-center{
    color: black;
}

input#pac-input {
    border-radius: 12px;
    height: 40px;
    text-align: center;
}